<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a routerLink = "/donate">Donate</a>
  <a href="#news">Request</a>
  <a href="#news">Contact Us</a>
  <a routerLink = "/home">Log Out</a>

  
</div>
<div *ngIf="donate">
<div class="container-fluid alt-starting-container"><div class="container alt-starting-title has-text-centered"><h1 class="title is-2">
            Donate medicine where it is needed!
        </h1> <p class="subtitle">
           Choose the donation point as per your convenience.
          
        </p></div></div>
        <!-- Donation form -->
        <div style ="text-align:center">
  <div style="display:inline-block">
<h2>Donate</h2>
<form [formGroup]="donateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName"></label>
        <input type="text" placeholder="First Name" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName"></label>
        <input type="text" placeholder="Last Name" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username"></label>
        <input type="text" placeholder="Email Address" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password"></label>
        <input type="password" placeholder="Contact Number" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="medicine"></label>
        <input type="text" placeholder="Medicine to Donate" formControlName="medicine" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.medicine.errors }" />
        <div *ngIf="submitted && f.medicine.errors" class="invalid-feedback">
            <div *ngIf="f.medicine.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Submit</button>
        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <!-- <a routerLink="/landing/donate" class="btn btn-link">Cancel</a> -->
    </div>
</form>
</div>
</div>
<!-- Form ends here -->
        <!-- <div style ="text-align:center">
<a routerLink="/donate" class="link-style">Donate Now</a>
        </div> -->
        <!-- Modal -->








         
    <h3> What we can use </h3>
    <p>In general, donations in the following categories represent the priority focus for us:</p>
    <ul>
<li><span>Pharmaceuticals</span></li>
<li><span>Over-the-counter (OTC) medicines</span></li>
<li><span>Medical and hospital supplies</span></li>
<li><span>Basic hygiene products</span></li>
<li><span>Infant formula</span></li>
<li><span>Vitamins &amp; Nutritional supplements</span></li>
</ul>
<p>All product offers will receive careful review prior to acceptance.</p>
<h3> What we can't use </h3>
 <p>In general, the following product/industry areas are not accepted:</p>
 <ul>
<li><span>Expired Medicines</span></li>
<li><span>Complex medical equipment</span></li>
<li><span color="#333333" face="arial, helvetica, sans-serif">Controlled-substances</span></li>
<li><span>Flammable products</span></li>
</ul>
</div>
<div *ngIf="request">
  <div class="container-fluid alt-starting-container"><div class="container alt-starting-title has-text-centered"><h1 class="title is-2">
            We will provide for your medication if you can't afford it.
        </h1> <p class="subtitle">
           Choose the pickup point as per your convenience.
          
        </p></div></div>
        <div style ="text-align:center">
<a  class="link-style">Join the Waitlist for medicines</a>
        </div>
</div>
       
