<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a routerLink = "/donate">Donate</a>
  <a href="#news">Request</a>
  <a href="#news">Contact Us</a>
  <a routerLink = "/home">Log Out</a>

  
</div>
<div *ngIf="donate">
<div class="container-fluid alt-starting-container"><div class="container alt-starting-title has-text-centered"><h1 class="title is-2">
            Donate medicine where it is needed!
        </h1> <p class="subtitle">
           Choose the donation point as per your convenience.
          
        </p></div></div>
        <div style ="text-align:center">
<a routerLink="/donate" class="link-style">Donate Now</a>
        </div>
         
    <h3> What we can use </h3>
    <p>In general, donations in the following categories represent the priority focus for us:</p>
    <ul>
<li><span>Pharmaceuticals</span></li>
<li><span>Over-the-counter (OTC) medicines</span></li>
<li><span>Medical and hospital supplies</span></li>
<li><span>Basic hygiene products</span></li>
<li><span>Infant formula</span></li>
<li><span>Vitamins &amp; Nutritional supplements</span></li>
</ul>
<p>All product offers will receive careful review prior to acceptance.</p>
<h3> What we can't use </h3>
 <p>In general, the following product/industry areas are not accepted:</p>
 <ul>
<li><span>Expired Medicines</span></li>
<li><span>Complex medical equipment</span></li>
<li><span color="#333333" face="arial, helvetica, sans-serif">Controlled-substances</span></li>
<li><span>Flammable products</span></li>
</ul>
</div>
<div *ngIf="request">
  <div class="container-fluid alt-starting-container"><div class="container alt-starting-title has-text-centered"><h1 class="title is-2">
            We will provide for your medication if you can't afford it.
        </h1> <p class="subtitle">
           Choose the pickup point as per your convenience.
          
        </p></div></div>
        <div style ="text-align:center">
<a routerLink="/donate" class="link-style">Join the Waitlist for medicines</a>
        </div>
</div>
       
