<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a routerLink = "/donate">Donate</a>
  <a href="#news">Request</a>
  <a href="#news">Contact Us</a>
  <a routerLink = "/home">Log Out</a>

  
</div>
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further instructions </p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" routerLink="/landing/donate" role="button">Continue to homepage</a>
  </p>
</div>
