<div class="topnav">
  <a  class="active"   routerLink="/login/donate">Donate Medicines </a>
  <a class="active"   routerLink="/login/request">Request Medicines </a>
   <a href="#news">About</a>
   <a href="#news">Contact Us</a>
  <a href="#news">What we Do</a>
  <a href="#contact">The Problem</a>
  <a href="#about">Home</a>
</div>

<div class = "vision">
  
    <span style ="color: #00baf2;
    position: absolute; 
    margin-left:70%;
    font-weight: bold;font-size: 2.5vw"> Our Mission </span><br><br>
    
    <span style="margin-left: 65%;
    color: white;
    
    font-size: 3.5vw;
    
    width: 100%;">Medicine for all!</span><br><br>
    <span style ="color: #00baf2;
    position: absolute; 
    margin-left:70%;
    font-weight: bold;font-size: 2.5vw"> Our Vision </span><br><br>
    <span style="margin-left: 65%;
    color: white;
    
    
    
    width: 100%;">Reducing the amount of surplus medicines 
</span>
    </div>
  
  <div class="container-fluid has-text-centered givmed-help-container">
    <div  class="columns is-marginless is-mobile help-btn-row">
      <div  class="column is-4-desktop is-offset-4-desktop is-6-tablet is-offset-3-tablet is-10-mobile is-offset-1-mobile givmed-help-button-div">
        You can make a change!</div>
        </div> 
        <a routerLink = "/login/donate" class="givmed-help-button button">DONATE NOW</a>
        
        </div>
<div style="background-image: url(&quot;https://www.map.org/hubfs/MAP_GIK_Slider.jpg&quot;); height: 350px;color:white">
</div>
    <!-- <h3> What we can use </h3>
    <p>In general, donations in the following categories represent the priority focus for us:</p>
    <ul>
<li><span>Pharmaceuticals</span></li>
<li><span>Over-the-counter (OTC) medicines</span></li>
<li><span>Medical and hospital supplies</span></li>
<li><span>Basic hygiene products</span></li>
<li><span>Infant formula</span></li>
<li><span>Vitamins &amp; Nutritional supplements</span></li>
</ul>
<p>All product offers will receive careful review prior to acceptance.</p> -->

 <!-- <h3> What we can't use </h3>
 <p>In general, the following product/industry areas are not accepted:</p>
 <ul>
<li><span>Expired Medicines</span></li>
<li><span>Complex medical equipment</span></li>
<li><span color="#333333" face="arial, helvetica, sans-serif">Controlled-substances</span></li>
<li><span>Flammable products</span></li>
</ul>
</div> -->
<div class="container-fluid has-text-centered givmed-help-container">
    <div  class="columns is-marginless is-mobile help-btn-row">
      <div  class="column is-4-desktop is-offset-4-desktop is-6-tablet is-offset-3-tablet is-10-mobile is-offset-1-mobile givmed-help-button-div">
        If you need medicines you can request also!</div>
        </div> 
        <a routerLink = "/login/request" class="givmed-help-button button">Request</a>
        
        </div>