<div class="topnav">
  <a  class="active"   routerLink="/login/donate">Donate </a>
  <a class="active"   routerLink="/login/request">Request </a>
   <a href="#news">About</a>
   <a href="#news">Contact Us</a>
  <a href="#news">What we Do</a>
  <a href="#contact">The Problem</a>
  <a href="#about">Home</a>
</div>

<div class = "vision">
  
    <span style ="color: #00baf2;
    position: absolute; 
    margin-left:70%;
    font-weight: bold;font-size: 2.5vw"> Our Mission </span><br><br>
    <span style="margin-left: 65%;
    color: white;
    
    font-size: 3.5vw;
    
    width: 100%;">Read and Share!</span>
    </div>
  
  <div class="container-fluid has-text-centered givmed-help-container">
    <div  class="columns is-marginless is-mobile help-btn-row">
      <div  class="column is-4-desktop is-offset-4-desktop is-6-tablet is-offset-3-tablet is-10-mobile is-offset-1-mobile givmed-help-button-div">
        You can make a change!</div>
        </div> 
        <a routerLink = "/login" class="givmed-help-button button">DONATE NOW</a>
        
        </div>